.delivery{
  display: flex;
  justify-content: center;
}

.order-methods .line {
  height: 48px;
  margin: 0 12px;
  border-width: 0 !important;
  border-left-width: 1px !important;
}
.onl-reservation button {
  font-size: 14px;
}
